# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# ref: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @thinca @monaqa @kyoh86 @peacock0803sz @ryoppippi @staticWagomU
src/content.json @thinca @kyoh86

# to avoiding make many review requests with dependabot PRs
package-*.json
