---
import Articles from "../components/Articles.astro";
import content from "../content.json";

const articles = content.articles;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS2.0"
      href={`${import.meta.env.BASE_URL}rss.xml`}
    />
    <title>Vim 駅伝</title>
  </head>
  <body>
    <main>
      <h1>Vim 駅伝</h1>
      <div class="tw-c-container">
        <section>
          <h2>イベント概要</h2>
        </section>
        <Articles articles={articles} />
      </div>
    </main>
  </body>
</html>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Yuji+Syuku&display=swap');
  section {
    height: 150px;
    padding: 20px;
    color: #666;
    margin-top: 50px;
    border: 5px solid #666;
    border-radius: 30px;
    background: rgba(244, 244, 244, 0.8);
  }
  body {
    font-family: 'Kaushan Script', 'Yuji Syuku', serif;
    background-color: #f6f7f8;
  }
  main {
    @apply flex justify-center items-center flex-col p-0 m-0;
  }
  div.tw-c-container {
    @apply max-w-4xl flex-1 px-4;
  }
  div.tw-c-section {
    @apply py-5;
  }
  h1 {
    @apply text-4xl py-3 w-full text-center;
    background: #477745;
    color: #efefef;
    box-shadow: 1px 0px 2px black;
  }
  h2 {
    @apply text-2xl font-bold my-1;
  }
  a {
    @apply text-blue-500;
  }
</style>
