---
import Articles from "../components/Articles.astro";
import content from "../content.json";
import Base from "../layouts/Base.astro";

const articles = content.articles;
---

<Base title="Vim 駅伝" slug="/">
  {/* head tag 内に記述する要素は slot="head" を指定する */}
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="RSS2.0"
    href={`${import.meta.env.BASE_URL}rss.xml`}
  />

  <section>
    <h2>Vim 駅伝とは</h2>
    <p>
      Vimmerを中心に技術的なコンテンツを持ち寄り、リレー形式で記事をリンクする営みです。
      GitHub のアカウントさえあれば誰でも投稿できます。
      小さなノウハウ、ちょっとした気づき、作ったプラグイン、開発の苦労話など、
      Vim またはテクノロジーに関連していればどんな些細な内容でもかまいません。
      皆さんの手で、Vim 駅伝を盛り上げていきましょう！
    </p>
    <h2>注意事項</h2>
    <ul>
      <li>
        個人攻撃や差別的な内容を含む記事、公序良俗に反する不適切な記事の投稿を禁止します。
        明らかに不適切と判断された記事については、GitHub
        経由での通告のもと本ページからリンクを削除する場合があります。
      </li>
    </ul>
  </section>
  <Articles articles={articles} />
</Base>
<style>
  section {
    padding: 20px;
    padding-top: 5px;
    color: #666;
    margin-top: 50px;
    border: 5px solid #666;
    border-radius: 30px;
    background: rgba(244, 244, 244, 1);
  }
  h2 {
    @apply text-2xl font-bold mt-4 mb-2;
    font-family: "Kaushan Script", "Yuji Syuku", serif;
  }
  a {
    @apply text-blue-500;
  }
</style>
