---
import Articles from "../components/Articles.astro";
import Calendar from "../components/Calendar";

import content from "../content.json";

const articles = content.articles;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS2.0"
      href=`${import.meta.env.BASE_URL}rss.xml`
    />
    <title>Vim 駅伝</title>
  </head>
  <body>
    <main>
      <h1>Vim 駅伝</h1>
      <div class="tw-c-container">
        <div class="tw-c-section">
          <h2>スケジュール</h2>
          <Calendar articles={articles} client:only="react" />
        </div>
        <div class="tw-c-section">
          <h2>記事一覧</h2>
          <Articles articles={articles} />
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  body {
    background-color: #f6f7f8;
  }
  main {
    @apply flex justify-center items-center flex-col p-0 m-0;
  }
  div.tw-c-container {
    @apply max-w-4xl flex-1 px-4;
  }
  div.tw-c-section {
    @apply py-5;
  }
  h1 {
    @apply text-4xl font-bold py-16 w-full text-center;
    background-color: #B3C9CF;
  }
  h2 {
    @apply text-2xl font-bold my-1;
  }
  a {
    @apply text-blue-500;
  }
</style>
<style is:global>
  div.fc-daygrid-day-top {
    @apply relative z-10;
  }
  div.fc-view-harness {
    @apply overflow-x-auto md:overflow-visible;
  }
  div.fc-dayGridMonth-view {
    @apply min-w-[45rem];
  }
  div.fc-bg-event {
    @apply p-2;
  }
  th.fc-day {
    @apply text-white;
    background-color: #2c3e50;
  }
  th.fc-day-sun {
    @apply bg-red-500 text-white;
  }
  th.fc-day-sat {
    @apply bg-blue-500 text-white;
  }
</style>
