---
import { getArticles } from "@/lib/article";
import Base from "@/layouts/Base.astro";

const { runner } = Astro.params;

export function getStaticPaths() {
  const articles = getArticles();
  const paths = Array.from(
    new Set(articles.map((article) => article.githubUser)),
  ).map((githubUser) => {
    return { params: { runner: githubUser } };
  });
  return paths;
}

const runnersArticles = getArticles({ runner });
---

<Base title={`Vim 駅伝 - ${runner ?? ""}の記事一覧`} slug="/runners/">
  <h1
    class="text-3xl font-bold mt-4 mb-4 border-l-[24px] border-l-ekiden-green-500 border-b border-b-ekiden-green-500 pl-4"
  >
    {runner}
  </h1>
  {
    runnersArticles.map((article, index, articles) => (
      <>
        <h2
          class={
            index === 0 || article.year > articles.at(index - 1)?.year
              ? "text-2xl font-bold mt-8 mb-4"
              : "hidden"
          }
        >
          {article.year}年
        </h2>
        <div
          class={
            article.published
              ? "w-full hover:shadow-md hover:bg-[#efefef]"
              : "w-full"
          }
        >
          <a href={article.published ? article.url : undefined}>
            <div class="p-4">
              <div class="flex items-center">
                <div
                  class={
                    article.published
                      ? "rounded-full flex-shrink-0 w-16 h-16 flex items-center justify-center mr-4 bg-[#477745] text-white"
                      : "rounded-full flex-shrink-0 w-16 h-16 flex items-center justify-center mr-4 text-[#477745] border border-[#477745]"
                  }
                >
                  <div class="text-center">
                    <div class="text-lg font-bold">
                      #{article.originalIndex + 1}
                    </div>
                    <div class="text-sm">{article.shortDate}</div>
                  </div>
                </div>
                <div
                  class={article.published ? "text-gray-700" : "text-gray-500"}
                >
                  <h3 class="text-md md:text-lg font-bold mb-1">
                    {article.title}
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </>
    ))
  }
</Base>
