---
import { getArticles } from "@/lib/article";
import Base from "@/layouts/Base.astro";

const { runner } = Astro.params;

export function getStaticPaths() {
  const articles = getArticles();
  const paths = Array.from(
    new Set(articles.map((article) => article.githubUser)),
  ).map((githubUser) => {
    return { params: { runner: githubUser } };
  });
  return paths;
}

const runnersArticles = getArticles({ runner });
---

<Base title={`Vim 駅伝 - ${runner ?? ""}の記事一覧`} slug="/runners/">
  <h1
    class="mb-4 mt-4 border-b border-l-[24px] border-b-ekiden-green-500 border-l-ekiden-green-500 pl-4 text-3xl font-bold"
  >
    {runner}
  </h1>
  {
    runnersArticles.map((article, index, articles) => (
      <>
        {/* 一番最初、または年が変わるときに年を表示 */}
        {(index === 0 || article.year !== articles.at(index - 1)?.year) && (
          <h2 class="mb-4 mt-8 text-2xl font-bold">{article.year}年</h2>
        )}
        <div
          class={
            article.published
              ? "w-full hover:bg-[#efefef] hover:shadow-md"
              : "w-full"
          }
        >
          <a href={article.published ? article.url : undefined}>
            <div class="p-4">
              <div class="flex items-center">
                <div
                  class={
                    article.published
                      ? "mr-4 flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full bg-[#477745] text-white"
                      : "mr-4 flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full border border-[#477745] text-[#477745]"
                  }
                >
                  <div class="text-center">
                    <div class="text-lg font-bold">
                      #{article.originalIndex + 1}
                    </div>
                    <div class="text-sm">{article.shortDate}</div>
                  </div>
                </div>
                <div
                  class={article.published ? "text-gray-700" : "text-gray-500"}
                >
                  <h3 class="text-md mb-1 font-bold md:text-lg">
                    {article.title}
                  </h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </>
    ))
  }
</Base>
