---
export type Article = {
  title: string,
  date: string,
  author: string,
  url?: string,
  published: boolean
}

type Props = Article

const {title, date, author, url, published} = Astro.props;

---

<tr class="flex flex-row">
  <td class="basis-1/6">{date}</td>
  <td class="basis-1/6">{author}</td>
  <td class="basis-2/3">{
    url && published ? (<a class="underline" href=`${url}`>{title}</a>) : title
    }</td>
</tr>
