---
import dayjs from "dayjs";

export type ArticleProps = {
  title: string;
  date: string;
  author: string;
  url?: string;
  firstDay?: bool;
  opened?: bool;
};

type Props = ArticleProps;

const { title, date, author, url, firstDay, opened } = Astro.props;

const published = dayjs() >= dayjs(date);
---

<div class="container">
  {firstDay && (
    <div class="month">
      <div class="date opened">{dayjs(date).month()}</div>
    </div>
  )}
  <a href={published ? url : opened ? url : "#"} class="article">
    <div class:list={["date", { opened, published }]}>{dayjs(date).date()}</div>
    <div class="metadata">
      <div class="author">{author}</div>
      <div class="title">{title}</div>
    </div>
  </a>
</div>

<style>
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.opened {
  background: #666 !important;
}

.published {
  background: #2a9bdd !important;
  box-shadow: 2px 2px 2px #444;
}

.container {
  --container-h: 100px;
  --timeline-m: 30px;
  --timeline-r: 20px;
  --timeline-hr: 20px;
  --timeline-mr: 30px;
  --title-h: 30px;
  --timeline-fs: 1.0em;
  --timeline-a:
    atan2(calc(0px - var(--container-h) / 2 + var(--title-h)),
      calc(var(--timeline-m) + var(--timeline-r)));
  --timeline-c:
    calc((var(--timeline-m) + var(--timeline-r)) / cos(var(--timeline-a)));
}

.month .date {
  --the-r: max(var(--timeline-mr), var(--timeline-r));
  --the-m: calc(var(--timeline-m) - (var(--timeline-mr) - var(--timeline-r)));
  font-size: 2em;
  background: #11405b;
  display: flex;
  min-width: calc(var(--the-r) * 2);
  height: calc(var(--the-r) * 2);
  justify-content: center;
  align-items: center;
  border-radius: var(--the-r);
  background: #666;
  color: white;
  margin: 0 var(--the-m);
  transition-property: min-width height margin font-size;
  transition-duration: 0.5s;
}

.article, .month {
  display: flex;
  height: var(--container-h);
  align-items: center;
}

.article:hover {
  --timeline-hr: calc(var(--timeline-r) * 1.5);
  --timeline-fs: calc(1.0em * 1.5);
}

.article .date {
  --the-r: max(var(--timeline-hr), var(--timeline-r));
  --the-m: calc(var(--timeline-m) - (var(--timeline-hr) - var(--timeline-r)));
  font-size: var(--timeline-fs);
  display: flex;
  min-width: calc(var(--the-r) * 2);
  height: calc(var(--the-r) * 2);
  justify-content: center;
  align-items: center;
  border-radius: var(--the-r);
  color: white;
  margin: 0 var(--the-m);
  background: #11405b;
  transition-property: min-width height margin font-size;
  transition-duration: 0.5s;
}

.date::before {
  position: absolute;
  content: " ";
  height: var(--container-h);
  background: #666;
  width: var(--timeline-r);
  z-index: -1;
}

.article .date::after {
  position: absolute;
  content: " ";
  background: #666;
  width: var(--timeline-c);
  transform:
    rotate(var(--timeline-a)) translate(50%, 0);
  height: 1px;
  z-index: -1;
}

.metadata {
  height: var(--container-h);
  width: 100%;
  color: #333;
}

.author {
  height: var(--title-h);
  border-bottom: 1px #333 solid;
  display: flex;
  align-items: end;
}
</style>
