---
import dayjs from 'dayjs';

export type ArticleProps = {
  title: string;
  date: string;
  author: string;
  url?: string;
};

type Props = ArticleProps;

const { title, date, author, url } = Astro.props;

const today = dayjs()
const published = today >= dayjs(date)
---

<tr>
  <td>{date}</td>
  <td>{author}</td>
  <td>{url && published ? <a href={url}>{title}</a> : title}</td>
</tr>
