---
import Article, { ArticleProps } from "./Article.astro";

type Props = {
  articles: ArticleProps[];
};

const { articles } = Astro.props;
---

<table>
  <tbody>
    {articles.map((article) => <Article {...article} />)}
  </tbody>
</table>
