---

---

<footer>
  <div class="license">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
      ><img
        alt="クリエイティブ・コモンズ・ライセンス"
        src="https://i.creativecommons.org/l/by/4.0/88x31.png"
      /></a
    >この 作品 は <a
      rel="license"
      href="http://creativecommons.org/licenses/by/4.0/"
      >クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a
    >の下に提供されています。
    ただし、各記事の内容やタイトルの権利は執筆者に帰属します。
  </div>
</footer>

<style>
  footer {
    @apply w-full px-8 py-4;
    background: #477745;
    color: #efefef;
  }
  footer .license {
    @apply w-full md:w-2/3 mx-auto;
  }
  footer .license a img {
    @apply border-0 mb-4;
  }
</style>
