---
import GitHubMark from "/public/github-mark-white.svg";
---

<footer class="w-full bg-ekiden-green-500 px-8 py-4 text-ekiden-white-500">
  <div class="mx-auto h-10 w-full md:w-2/3">
    <a href="https://github.com/vim-jp/ekiden">
      <div class="flex flex-row items-center">
        <img src={GitHubMark.src} alt="GitHub Logo" class="w-7" />
      </div>
    </a>
  </div>

  <div class="mx-auto w-full md:w-2/3">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
      ><img
        class="mb-4 border-0"
        alt="クリエイティブ・コモンズ・ライセンス"
        src="https://i.creativecommons.org/l/by/4.0/88x31.png"
      /></a
    >この 作品 は <a
      rel="license"
      href="http://creativecommons.org/licenses/by/4.0/"
      >クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a
    >の下に提供されています。
    ただし、各記事の内容やタイトルの権利は執筆者に帰属します。
  </div>
</footer>
