---
import GitHubMark from "/public/github-mark-white.svg";

---

<footer class="w-full px-8 py-4 bg-ekiden-green-500 text-ekiden-white-500">

  <div class="w-full md:w-2/3 mx-auto h-10">
    <a href="https://github.com/vim-jp/ekiden">
      <div class="flex flex-row items-center">
        <img src={GitHubMark.src} alt="GitHub Logo" class="w-7"> 
      </div>
    </a>
  </div>

  <div class="w-full md:w-2/3 mx-auto">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
    ><img
        class="border-0 mb-4"
        alt="クリエイティブ・コモンズ・ライセンス"
        src="https://i.creativecommons.org/l/by/4.0/88x31.png"
      /></a
    >この 作品 は <a
      rel="license"
      href="http://creativecommons.org/licenses/by/4.0/"
    >クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a
    >の下に提供されています。
    ただし、各記事の内容やタイトルの権利は執筆者に帰属します。
  </div>
</footer>
