---
import HeaderLink from "./HeaderLink.astro";

type Props = { slug: string };

const { slug } = Astro.props;
---

<div class="header">
  <h1><a href="/ekiden/">Vim 駅伝</a></h1>
  <nav>
    <HeaderLink slug={slug} href="/">トップページ</HeaderLink>
    <HeaderLink slug={slug} href="/archive/">アーカイブ</HeaderLink>
  </nav>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Yuji+Syuku&display=swap");
  .header {
    @apply w-full;
    font-family: "Kaushan Script", "Yuji Syuku", serif;
    background: #477745;
    color: #efefef;
  }
  h1 {
    @apply text-4xl py-3 text-center;
  }
  nav {
    @apply flex justify-center pb-2;
  }
</style>
