---
import { isEqual } from "ufo";

type Props = { slug: string; href: string };
const { slug, href } = Astro.props;

/* path が一致しないかを判定。slash のある無しは区別しない */
const isLink = !isEqual(slug, href);
const Tag = isLink ? "a" : "span";
const props = isLink ? { href: `/ekiden${href}` } : {};
---

<span class="px-4 py-2">
  <Tag class:list={[!isLink && "underline", "px-4 py-2"]} {...props}>
    <slot />
  </Tag>
</span>
