---
type Props = { slug: string; href: string };
const { slug, href } = Astro.props;
---

<span class="px-4 py-2">
  {
    slug === href ? (
      <span class="px-4 py-2 underline">
        <slot />
      </span>
    ) : (
      <a class="px-4 py-2" href={"/ekiden" + href}>
        <slot />
      </a>
    )
  }
</span>
