---
type Props = { slug: string; href: string };
const { slug, href } = Astro.props;
---

<span>
  {
    slug === href ? (
      <span class="underline">
        <slot />
      </span>
    ) : (
      <a href={"/ekiden" + href}>
        <slot />
      </a>
    )
  }
</span>

<style>
  span,
  a {
    @apply px-4 py-2;
  }
</style>
