---
import * as ufo from "ufo";
import { joinURLWithTrailingSlash } from "@/lib/url.js";

type Props = { slug: string; href: string };
const { slug, href } = Astro.props;

/* path が一致しないかを判定。slash のある無しは区別しない */
const isLink = !ufo.isEqual(slug, href);
const Tag = isLink ? "a" : "span";
const props = isLink ? { href: joinURLWithTrailingSlash("/ekiden", href) } : {};
---

<span class="px-4 py-2">
  <Tag class="fcol px-4 py-2" {...props}>
    <slot />
    <span
      class:list={[
        !isLink
          ? ["view-transition--nav-underline", "bg-ekiden-white-500"]
          : "bg-transparent",
        "h-0.5",
        "mxa",
        "w-full",
      ]}></span>
  </Tag>
</span>
