---
type Props = { slug: string; href: string };
const { slug, href } = Astro.props;

const isLink = slug !== href;
const Tag = isLink ? "a" : "span";
const props = isLink ? { href: `/ekiden${href}` } : {};
---

<span class="px-4 py-2">
  <Tag class:list={[!isLink && "underline", "px-4 py-2"]} {...props}>
    <slot />
  </Tag>
</span>
