---
export type RecordType = {
  title: string;
  records: number[] | string[];
  unit: string;
  /**
   * 桁ごとの下線の強調が有効になる
   * 文字列の表示の場合は無効にする
   * @default true
   */
  enabledDigitHighlight?: boolean;
};

type Props = RecordType;
const { title, records, unit, enabledDigitHighlight = true } = Astro.props;
---

<div class="flex flex-col gap-2 sm:flex-row">
  <div class="flex flex-1 self-center justify-center sm:self-start">
    <div
      class="inline-box w-40 justify-self-center rounded bg-ekiden-green-500 px-3 py-2 text-center text-xl text-ekiden-white-500 font-ekiden-heading"
    >
      {title}
    </div>
  </div>
  <div
    class="flex flex-1 flex-col items-center self-center justify-self-start gap-2"
  >
    {
      records.map((record) => {
        return (
          <div class="flex gap-2">
            <div>
              {enabledDigitHighlight ? (
                <div class="flex items-center gap-2">
                  {[...record.toString()].map((digit) => (
                    <span
                      class:list={[
                        "font-ekiden-mono text-2xl",
                        digit === "." ? "font-extrabold" : "font-thin",
                        digit !== "." && "border-b-2 border-b-ekiden-black-500",
                      ]}
                    >
                      {digit}
                    </span>
                  ))}
                </div>
              ) : (
                <span class="border-b-2 border-b-ekiden-black-500 text-2xl font-thin font-ekiden-mono">
                  {record}
                </span>
              )}
            </div>
            <div class="self-end text-xl font-ekiden-base">{unit}</div>
          </div>
        );
      })
    }
  </div>
</div>
