---
import Base from "@/layouts/Base.astro";
import SeasonList from "@/components/SeasonList.astro";
import RankChart from "@/components/RankChart.svelte";
import { getArticles } from "@/lib/article";

const articles = getArticles({ isPublished: true });
---

<Base title="Vim 駅伝 - ランキング" slug="/ranking/">
  <SeasonList linkDest="ranking" showUnpublishedSeason={false} />

  <section class="py-4 text-ekiden-gray-500">
    <h2 class="font-ekiden-heading text-2xl font-bold mt-4 mb-2">
      記事投稿数ランキング（総合）
    </h2>
    <RankChart articles={articles} client:only="svelte" />
  </section>
</Base>
