on:
  pull_request:
    paths:
      - ".github/**/*.yml"
      - ".github/**/*.yaml"

permissions:
  pull-requests: write

jobs:
  pinact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check GitHub Actions with pinact
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          skip_push: "true"
