name: Check format and test build
'on':
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Run ESLint
        run: pnpm lint:check
      - name: Run Prettier
        run: pnpm prettier:check
      - name: Run Astro Check
        run: pnpm astro:check
      - name: Run test
        run: pnpm test
      - name: Run Build
        run: pnpm build
